/* Style Sheet for cover page
 */

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Verdana", Geneva, sans-serif;
	padding-bottom: 30px;
	padding-top: 50px;
	text-align: center;
	background: url(../images/flight.jpg) no-repeat center fixed;
	background-size: cover;
	min-height: 100%;
}

.text-box{
	background: rgba(250, 250, 250, 0.7);
	text-shadow: 1px 1px #ffffff;
	color: #000000;
	height: 100%;
	margin-bottom: 15px;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #222222;
	color: #5C5C5C;
	font-weight: bolder;
	text-align: center;
}