/* Style Sheet for standard pages
*/

html{
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Verdana", Geneva, sans-serif;
	margin-bottom: 30px;
	padding-top: 30px;
	background: rgba(210, 210, 210, 1);
}

.page-header {
	text-align:center;
	font-variant: small-caps;
	background-color: rgba(237,237,237,1);
}

#small{
	font-size: 65%;
}

#title{
	text-transform: uppercase;
	text-align: center;
}

#fit{
	width: 100%;
}

#center{
	text-align: center;
}

.panel > .panel-heading{
	background-image: none;
	background-color: #222222;
	color: #9d9d9d;
}

.panel > .panel-body{
	background-image: none;
	background-color: rgba(237,237,237,1);
	text-shadow: 1px 1px #ffffff;
	color: #000000;
}

.bullets{
	list-style-type: square;
	font-size: 125%;
}

.bull_space{
	margin-bottom: 20px;
}

.center{
	text-align: center;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #222222;
	color: #9d9d9d;
	font-weight: bolder;
	text-align: center;
}